.register-card {
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.register-card-header {
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

.register-btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.register-btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

/* CSS untuk mengatur posisi form ke tengah halaman */
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Mengatur tinggi container agar mengambil seluruh tinggi layar */
}